/* Desktop */

.container-home{
    margin-left: 25px;
    margin-right: 25px
}

.all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* style for single card */

.container-card{
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
}

.cartTitle{
    position: absolute;
}

.imageCard{
    height: 250px;
    width: 200px;
}