.containerHome{
    margin-left: 25px;
    margin-right: 25px
}

/* Input search styling */

.containerForm{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.form{
    display: flex;
}


.inputSearch{
    width: 500px;
    height: 40px;
    text-indent: 30px;
}
.searchLogo{
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
}
.inputSearch:focus{
    outline: none;
}

.btnReset{
    width: 100px;
}
.btnSearch{
    width: 100px;
}

/*  */



.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* style for single card */

.containerCard{
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    border:5px solid #ffc909;
    background-color: black;
}

.cartTitle{
    position: absolute;
    color:white
}

.imageCard{
    height: 250px;
    width: 200px;
}

.notFound{
    color:#ffc909;
    font-size:20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.routerLink{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}