/* Desktop */

.containerNavBar{
    background-color: black;
    width: 100%;
    height:80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.containerLogo{
    margin-left: 25px;
}

.imageLogo{
    height: 80px; 
}

